{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
<!-- preloader/ loading icon -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
        <ul style="margin-top:20px; text-align: center">
            <a class="navbar-brand" href="/" style="top: 50px;">
                <img style="border-radius:25px;" src="{% static "core/logo.pn" %}" alt="My image" height="100" width="100">
            </a>
        </ul>

        <ul dir="LTR" class="navbar-nav mr-auto">

        </ul>
        <ul class="nav navbar-nav navbar-left">

            <li style="font-size: 150%;">
                    <a href="/">
                          <span class="badge badge-pill badge-info" >  {% trans "Home" %}</span>
                    </a>
            </li>
        </ul>
    </nav>