{% extends "courses/courses_products_base.html" %}
{% load static i18n %}

{% block title %} {% trans "Your shopping cart" %} {% endblock %}

{% block content_ %}
<div >
  <h1>Your course list</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>{% trans "Image" %}</th>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Remove" %}</th>
        <th class="num">{% trans "Unit price" %}</th>
        <th class="num">{% trans "Total price" %}</th>
        <th class="num">{% trans "Coupon" %}</th>
        <th class="num">{% trans "Discount" %}</th>
        <th class="num">{% trans "Price" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.course.image %}{{ product.course.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'courses:cart_add' product.id item.coupon %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="Update">
                    {% csrf_token %}
                </form>
            </td>
            <td><a href="{% url 'courses:cart_remove' product.id %}">Remove</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>

            <td class="num">{{ item.coupon }}</td>
            <td class="num">-${{ item.total_discount }}</td>

            <td class="num">${{ item.total_price_after_discount }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td></td>
        <td colspan="3"></td>
        <td>Total</td>

        <td class="num">${{ cart.get_total_price }}</td>
        <td></td>
        <td class="num">-${{ cart.get_total_discount }}</td>
        <td class="num">${{ cart.total_price_after_discount }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'courses:home' %}" class="button light">{% trans "Add more courses" %}</a>
    {% if show_payment %}
      <a href="{% url 'courses:order_create' %}" class="button">{% trans "Checkout and Payment" %}</a>
    {% endif %}
  </p>
</div>
{% endblock %}