{% extends "elearning/base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load cms_tags %}

{% block title %}
 ELEARNING
{% endblock title %}

{% block add_css %}
<link href="{% static 'css/ugandatowns_.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.a399bc1a5519.css' %}">

<link rel='preload stylesheet' href='https://av.sc.com/assets/global/css/lite/style-base-home.min.css?ver=14fc4a5' as='style' media='all'>

{% endblock add_css %}


{% block content %}
{% endblock %}

{% block add_js %} {% endblock add_js %}

