{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'marketplace/css/styles.css' %}">

</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Your Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'public_product_list' %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <!-- Add more navigation items as needed -->
            </ul>
        </div>
    </nav>


     <div class="jumbotron">
        <h1>Welcome to Our Marketplace!</h1>
        <p>Discover a wide range of products from various sellers.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'public_product_list' %}" role="button">Explore Products</a></p>
    </div>

    <div class="container">
        <h2>Featured Products</h2>

        <div class="row">
            {% for product in featured_products %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }} Image">
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">${{ product.price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- Bootstrap JS and other scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UoLlwsUCt1Nq8br+7QpRMxfFq6ixIqPWBB9xTI2aUzy2C3UksqMS3Uy8QHcG5KdD" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>