<!-- templates/marketplace/public_product_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--    <h1>Public Product List</h1>-->

<!--    {% for product in public_products %}-->
<!--        <div>-->
<!--            <h2>{{ product.name }}</h2>-->
<!--            <img src="{{ product.image.url }}" alt="{{ product.name }} Image" style="max-width: 150px;">-->
<!--            <p>Description: {{ product.description }}</p>-->
<!--            <p>Price: ${{ product.price }}</p>-->
<!--            <form method="post" action="{% url 'add_to_cart' product.id %}">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit">Add to Cart</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    {% endfor %}-->

    <div class="container">
        <h2>Public Product List</h2>

        <div class="row">
            {% for product in public_products %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }} Image" style="max-width: 350px;">
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">Description: {{ product.description }}</p>
                            <p class="card-text">Price: ${{ product.price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


</body>
</html>
