{% extends "elearning/base_user.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
{% load user_agents %}
{% block title %}
    <title>Change Password</title>
{% endblock title %}

<!-- SideNav slide-out button -->
<!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/670810 -->
{% block add_css %}
     <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
     <!-- CSS that pushes down your navbar when the CMS toolbar is opened.-->
    <style>
        .cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{ top:40px;}
    </style>
{% endblock add_css %}

{% block nav_bar %}
<!-- Navigation -->
   {% include 'partners/includes/home_nav_bar.html' %}
{% endblock %}

{% block body_content %}
{% if request|is_mobile %}
<div class="container" style="background-color:lightblue;width:550px;top:100px" >
{% else %}
<div class="container" style="background-color:lightblue;width:550px;top:100px;position:relative; left:350px" >
{% endif %}
    {% if messages %}
    <div style="color:red">
      <strong>Message:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <br/><br/>
    <h4 style="text-align:center; color:red">Change Password:</h4>
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <button type="submit">Submit</button>-->
        <input type="submit" value="Save">
        <input type="button" value="Cancel" style="color:red" onclick="window.history.go(-1);"/>
    </form>
    <br>
</div>
{% endblock %}
