{% extends "elearning/base_user.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
{% load user_agents %}
{% block title %}
    <title>Edit User Profile</title>
{% endblock title %}

<!-- SideNav slide-out button -->
<!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/670810 -->
{% block add_css %}
        <!-- CSS that pushes down your navbar when the CMS toolbar is opened.-->
        <style>
            .cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{ top:40px;}
        </style>
{% endblock add_css %}

{% block nav_bar %}
<!-- Navigation -->
{% include 'partners/includes/home_nav_bar.html' %}
{% endblock %}

{% block body_content %}
<div class="container" style="background-color:lightblue;width:550px;">
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <br/><br/>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
        </table>
        <b><input type="submit" value="Update" style="color:blue" />
        <input type="button" value="Cancel" style="color:red"
                  onclick="window.history.go(-1);"/></b>
    </form>
</div>
{% endblock %}
