{% extends "highschool/base_user.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
{% block title %}
    <title>Password reset</title>
{% endblock title %}

<!-- SideNav slide-out button -->
<!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/670810 -->
{% block add_css %}
     <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
{% endblock add_css %}

{% block nav_bar %}
     {% include 'education/includes/description_page.html' %}
{% endblock %}

{% block body_content %}
<br/><br/>
<div class="container">
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <br/><br/>
    <h1>Password reset</h1>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset password</button>
    </form>

</div>
{% endblock %}
