{% extends "highschool/base_user.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
{% block title %}
    <title>Signup</title>
{% endblock title %}

<!-- SideNav slide-out button -->
<!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/670810 -->
{% block add_css %}
     <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
{% endblock add_css %}

{% block nav_bar %}
     {% include 'education/includes/description_page.html' %}
{% endblock %}

{% block body_content %}
<br/><br/>
<div class="container">
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div id="id02">
  <form action="" method="post">
    {% csrf_token %}
    <div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <table>
              <tr><th><label for="id_test">Test:</label></th>
                  <td><input type="text" name="test" required id="id_test">
                  <br><span class="helptext">In the above field, type the number 1.</span>
                      <br>{{error_message}}<br>
                      {% if error_message != '' %}
                              <br><span class="helptext">You must type the number 1.</span><br>
                      {% endif %}
                  </td>
              </tr>

          {{ form_signup.as_table }}
            <tr><td style="width:55%">
              <button class="button_s" type="submit">{% trans "Sign Up" %}</button>
            </td><td>
              <a href="/"
                onclick="document.getElementById('id02').style.display='none'">
                <span class="badge badge-pill badge-info" style="margin-left:5%; font-size: 110%">{% trans "Cancel" %}</span>
              </a>
              </td>
            </tr>
           </table>
    </div>
  </form>
</div>

</div>
{% endblock %}
