{% extends "courses/course_schedule/formset_base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}



{% block content %}

<div style="background-color:white;">
    <a href="https://sites.google.com/a/drbaranes.com/ac_presentation_1/home/The%20AcademyCity_3_academic.docx?attredirects=0&d=1" class="download" target="_blank">
        The Academy City</a><br/><br/>
    <a href="https://sites.google.com/a/drbaranes.com/ac_presentation_1/home/The%20next%20generation%20Learning%20Management%20System.docx?attredirects=0&d=1" class="download" target="_blank">
        The next generation Learning Management System</a><br/><br/>
    <a href="http://support.divio.com/en/articles/17911-how-does-django-cms-compare-with-wordpress#:~:text=django%20CMS%20is%20a%20content,most%20popular%20Django%2Dbased%20CMS.&text=WordPress%20is%20a%20simple%20CMS,suitable%20for%20more%20demanding%20applications." class="download" target="_blank">
        How does django CMS compare with WordPress?</a><br/><br/>
    <a href="https://www.netguru.com/blog/django-apps" class="download" target="_blank">
        Top 10 Django Apps and Why Companies Are Betting on This Framework</a><br/><br/>

</div>

{% endblock %}



