{% extends "highschool/base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}

{% block content %}

<div class="container">
    {{ title }}
</div>


{% endblock %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="what will be displayed on google when a person searchers for your web page(website) ">
    <title>Document</title>
</head>
<body>

</body>
</html>
