{% load i18n %}
  <a href="#" class="show_content" data-page="active_courses">Active Courses</a>
  <a href="#" class="show_content" data-page="active_simulations">Active Simulations</a>
  <a href="#" class="show_content" data-page="owned_courses" >Owned Courses</a>

  <button class="dropdown-btn">Manage Images
      <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'images:list' %}" >Images List</a>
    <a href="{% url 'images:image_ranking' %}" >Popular Images</a>

    <a href="javascript:{% include "bookmarklet_launcher.js" %}"><span class="badge badge-pill badge-primary">bm-prod</span></a>
    <a href="javascript:{% include "bookmarklet_launcher_dev.js" %}"><span class="badge badge-pill badge-primary">bm-dev</span></a>

  </div>

