{% extends "base_education.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load user_agents %}

{% block title %}
<title>{{ institution.institution_name }}</title>
{% endblock %}

{% block add_css %}
    <!-- CSS that pushes down your navbar when the CMS toolbar is opened.-->
    <style>
        .cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{ top:40px;}
    </style>
    <!--  NOT BEING USED  -->
    <style>
        /* src/components/Hero.css
        .hero {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 60px 20px;
          background-color: #f8f9fa;
        }

        .hero-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          max-width: 1200px;
          width: 100%;
          gap: 100px;
        }

        .hero-text {
          flex: 1;
          min-width: 300px;
        }

        .hero-text h1 {
          font-size: 1.2em;
          color: #007bff;
        }

        .hero-text p.lead {
          font-size: 0.5em;
          color: #343a40;
        }

        .hero-text hr {
          border-color: #007bff;
        }

        .hero-text p {
          font-size: 0.6em;
          color: #856404;
        }

        .hero-image {
          flex: 1;
          min-width: 300px;
          text-align: center;
        }

        .hero-image img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          max-width: 400px;
        }

        */
    </style>
    <style>
        .php-email-form {
          background: #fff;
          padding: 30px;
          box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
        }
        .php-email-form .form-group {
          margin-bottom: 20px;
        }
        .php-email-form input, .php-email-form textarea {
          border-radius: 4px;
          box-shadow: none;
          font-size: 14px;
        }
        .php-email-form input::placeholder, .php-email-form textarea::placeholder {
          color: #ccc;
        }
        .php-email-form .btn {
          background: #007bff;
          border: none;
          padding: 10px 30px;
          border-radius: 50px;
          transition: 0.3s;
        }
        .php-email-form .btn:hover {
          background: #0056b3;
        }
        .text-center {
          text-align: center;
        }
      </style>
    <style>
        .hero-section {
          position: relative;
          height: 100vh;
          background: url('{{institution.institution_image.url}}') no-repeat center center/cover;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #fff;
        }
        .hero-section::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
        }
        .hero-content {
          position: relative;
          z-index: 1;
        }
        .hero-content h3 {
          font-size: 2.5rem;
          margin-bottom: 10px;
        }
        .hero-content p.lead {
          font-size: 1.25rem;
          margin-bottom: 10px;
        }
      </style>
    <style>
         .title {
          font-size: 2.0rem;
          font-weight: 700;
          margin-bottom: 2rem;
          color: #dc3545; /* Bootstrap danger color */
        }
    </style>
{% endblock add_css %}

{% block add_links %}
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--	<link rel="stylesheet" href="{% static 'partner/css/contact_us_style.css' %}">-->
{% endblock %}

{% block nav_bar %}
{% include 'partners/includes/home_nav_bar.html' %}
{% endblock %}


{% block body_content %}
 <main role="main">

       <div class="hero-section">
          <div class="hero-content">
            <h3>Welcome to Our E-Learning Platform</h3>
            <p class="lead">Expand Your Knowledge with Our Expert-Led Courses</p>
            <hr class="my-4 text-warning" />
            <p>Discover a wide range of courses across various fields and enhance your skills with our comprehensive learning materials.</p>
            <p><a class="btn btn-primary btn-lg" href="#courses" role="button">View Courses</a></p>
          </div>
        </div>

      <div class="container marketing">

        <!-- PROGRAM SECTION -->
        <div class="row mt-5" id="programs">
          <div class="col-12 text-center">
              <span class="title text-uppercase">Programs</span>
          </div>
          {% for program in programs %}
              <div class="col-lg-4">
                <img class="rounded-circle" src="{{program.program_image.url}}" alt="Generic placeholder image" width="140" height="140">
                <h2>{{program.program_name}}</h2>
                <p>{{program.program_description}}</p>
                <p><a {% if program.is_links %} href ="{% url 'partners:program_description' program.id %}" target="_blank" class="btn btn-secondary" role="button" {% endif %} >{{program.program_link_title }}  &raquo;</a></p>
              </div>
          {% endfor %}
        </div><!-- /.row -->

       <!-- COURSE SECTION -->
        <div class="album mt-5" id="courses">
            <div class="container">
              <div class="row">
                  <div class="text-center mb-1 "><span class="title text-uppercase">Courses</span></div>
                    {% for course in courses %}
                    <div class="col-md-4">
                      <div class="card mb-4">
                        <img class="card-img-top" src="{{course.course_image.url}}" alt="Card image cap" height="185px">
                        <div class="card-body">
                          <span class="text-danger lead">{{course.course_name}}</span>
                          <p class="card-text">{{course.course_description}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a {% if course.is_links %} href="{% url 'partners:course_description' course.id %}" target="_blank" class="link-btn" {% endif %} >
                                    <button type="button" class="btn btn-sm btn-outline-success">View Course &raquo;</button>
                                </a>
                            </div>
                            <small class="text-success">{{course.course_schedule.number_of_students_enrolled}} Students Enrolled</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
        </div>

        <!-- Service Section-->
        <section class="bsb-service-7 py-xl-8 mt-5" id="services">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
<!--                  <h2 class="fs-5 mb-2 text-danger text-center text-uppercase">Services</h2>-->
                    <div class="text-center mb-1 text-danger"><span class="title text-uppercase">Services</span></div>
<!--                  <h2 class="display-6 mb-5 mb-xl-9 text-center">We offer premier services where excellence meets affordability.</h2>-->
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="container-fluid bg-light border shadow">
                    <div class="row">
                      {% for service in services %}
                      <div class="col-12 col-md-4 p-0">
                        <div class="card border-0 bg-transparent">
                          <div class="card-body text-center p-5">
                            <img class="rounded-circle mb-3" src="{{service.service_image.url}}" alt="Generic placeholder image" width="180" height="180">
                            <h4 class="fw-bold text-uppercase mb-4">{{service.service_name}}</h4>
                            <p class="mb-4 text-secondary">{{service.service_description}}</p>
                             <a class="fw-bold text-decoration-none link-primary" {% if service.is_links %} href ="{% url 'partners:service_description' service.id %}" target="_blank" {% endif %} >Learn More &raquo;</a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- About Section -->
        <section class="py-3 py-md-5 py-xl-8 mt-5" id="about">
          <div class="container">
            <div class="text-center text-danger"><span class="title text-uppercase">{{institution.about_us_header_one}}</span></div>
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
              <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="{{institution.about_us_image.url}}" width="800px" alt="">
              </div>
              <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11 mt-4">
                    <h4>{{institution.about_us_header_two}}</h4>
                    <p class="lead fs-5 text-secondary">{{institution.about_us_description_one}}</p>
                    <p class="mb-5">{{institution.about_us_description_two}}</p>
                    <div class="row gy-4 gy-md-0 gx-xxl-5X">
                      {% for y in why_us %}
                      <div class="col-12 col-md-6">
                        <div class="d-flex">
                          <div class="me-4 text-primary mt-0">
<!--                            <span>&nbsp&nbsp&nbsp<i class="{{y.icon_name}}" style="color:red;font-size:32px;">&nbsp&nbsp</i></span>-->
                          </div>
                          <div>
                            <h4 class="mb-3"><i class="{{y.icon_name}}" style="color:red;font-size:32px;">&nbsp</i>{{ y.title }}</h4>
                            <p class="text-secondary mb-0 mx-4">{{y.description}}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- standalone section         -->
        <div class="row featurette mt-5">
          <div class="col-md-7">
            <h4 class="featurette-heading mt-1">{{institution.standalone_section_description_one}}</h4>
            <p class="lead">{{institution.standalone_section_description_two}}</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{{institution.standalone_section_image.url}}" alt="Generic placeholder image">
          </div>
        </div>

        <!-- Event SECTION    -->
        <div class="album py-5" id="events">
            <div class="container">
              <div class="row">
                 <div class="text-center mb-1 text-danger text-uppercase"><span class="title text-uppercase">Events</span></div>
                {% for event in events %}
                <div class="col-md-4">
                  <div class="card mb-4">
                    <img class="card-img-top" src="{{event.event_image.url}}" alt="Card image cap" height="185px">
                    <div class="card-body">
                      <span class="text-danger lead">{{event.event_name}} &#9787;</span>
                      <p class="card-text">{{event.event_description}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href=""></a>
                            <a class="fw-bold text-decoration-none link-primary" {% if event.is_links %} href ="{% url 'partners:event_description' event.id %}" target="_blank" {% endif %} ><button type="button" class="btn btn-sm btn-outline-success">Read More &raquo;</button></a>
                        </div>
                        <div>
                            <small class="text-success">&#10004; {{event.event_date}}</small><br>
                            <small class="text-primary me-0">&#10004; {{event.event_location}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>

        <!-- TESTIMONIALS bootstrap hide on small screens-->
        <section class="spacer py-5 col-12 d-none d-md-block" id="testimonial">
            <div class="testimonial-section">
                <div class="testi-user-img">
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            {% for pp in persons_phrase_ %}
                            <div class="swiper-slide">
                                <img class="u1" src="{{pp.persons_phrase_image.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div  style="background-color: #45526e; color:white">
                    <div class="swiper-container testimonial" style="height:500px;">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for pp in persons_phrase_ %}
                            <div class="swiper-slide">
                                <div class="quote">
                                    <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                    <p>
                                        {{pp.persons_phrase}}
                                    </p>
                                    <div class="name">-{{pp.persons_name}}-</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END OF TESTIMONIALS -->
      </div>
      <!-- /.container -->

     <section id="contact" class="contact py-5">
     <div class="contact-wrap container" data-aos="fade-up" style="border-radius:10px">
       <div class="section-title">
           <div class="text-center text-danger text-uppercase"><span class="title text-uppercase">Contact Us</span></div>
       <!-- message -->
          <h6 id="sent_message" style="text-align:center; margin-top:10px"></h6>
       <!-- end message -->
       </div>
       <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div>
            <div class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="contact_us_name" placeholder="Your Full Name" required >
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="contact_us_email" placeholder="Your Email" required >
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="contact_us_subject" placeholder="Enter Subject" required >
              </div>
              <div class="form-group">
                <textarea id="contact_us_message" class="form-control" name="message" rows="5" placeholder="Enter message." required ></textarea>
              </div>
              <div class="text-center">
              <div id="message_sent" ></div>
                  <input onclick="send_contact_us(event)" type="submit" value="Send Message" class="btn btn-primary">
            </div>
          </div>
        </div>
       </div>
     </div>
   </section>
      <!-- Footer -->
      <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class=" container my-1">
            <!-- Footer -->
            <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Links -->
                    <section class="">
                        <!--Grid row-->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">
                                    @AcDantez
                                </h6>
                                <p>
                                    We are who we are to simplify the life of our clients by building web applications
                                    that ease one's life. We do also believe in sharing knowledge for a better world by
                                    offering teaching service to the people across the world.
                                </p>
                            </div>
                            <!-- Grid column -->
                            <hr class="w-100 clearfix d-md-none" />
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                                <p><i class="fas fa-home mr-3"></i> Kampala, Ntinda 000, Ug.</p>
                                <p><i class="fas fa-envelope mr-3"></i> danielopio540@gmail.com</p>
                                <p><i class="fas fa-phone mr-3"></i> +256 781218116</p>
                                <p><i class="fab fa-whatsapp mr-3" style="font-size:24px"></i> +256 781218116</p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!--Grid row-->
                    </section>
                    <!-- Section: Links -->
                    <hr class="my-3">
                    <!-- Section: Copyright -->
                    <section class="p-3 pt-0">
                        <div class="row d-flex align-items-center">
                            <!-- Grid column -->
                            <div class="col-md-7 col-lg-8 text-center text-md-start">
                                <!-- Copyright -->
                                <div class="p-3">
                                    © 2022:<a class="text-white" href="/">AcDantez</a>
                                </div>
                                <!-- Copyright -->
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                                <!-- Facebook -->
                                <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-facebook-f"></i></a>
                                <!-- Twitter -->
                                <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-twitter"></i></a>
                                <!-- linkedin -->
                                <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-linkedin"></i></a>
                                <!-- Instagram -->
                                <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-instagram"></i></a>
                            </div>
                            <!-- Grid column -->
                        </div>
                    </section>
                    <!-- Section: Copyright -->
                </div>
                <!-- Grid container -->
            </footer>
            <!-- Footer -->
        </div>
        <!-- End of .container -->
        <!-- End of .container -->
        <!-- Footer -->
    </main>


{% endblock %}



{% block domready %}

    var link_post_contact_us = '{% url "partners:contact_us" %}'

    send_contact_us = function(event)
    {
      //event.preventDefault();
      var elm = event.target
      var contact_id_ = elm.getAttribute("contact_id")
      //alert(contact_id_)
      var contact_us_name_ = document.getElementById("contact_us_name").value
      var contact_us_email_ = document.getElementById("contact_us_email").value
      var contact_us_subject_ = document.getElementById("contact_us_subject").value
      var contact_us_message_ = document.getElementById("contact_us_message").value

       try{
            $.post(link_post_contact_us,
              {
                contact_id : contact_id_,
                name : contact_us_name_,
                email : contact_us_email_,
                subject : contact_us_subject_,
                message : contact_us_message_
              },
              function(data){
                  var rr = data['status']
                  var ms = document.getElementById("sent_message")
                  ms.innerHTML = rr
              });
          } catch(er){alert(er)}

       var name_ = document.getElementById("contact_us_name").value
       var email_ = document.getElementById("contact_us_email").value
       var subject_ = document.getElementById("contact_us_subject").value
       var message_ = document.getElementById("contact_us_message").value
       if(name_ != '' && email_ != '' && subject_ != '' && message_ != '')
       {
         document.getElementById("contact_us_name").value = "";
         document.getElementById("contact_us_email").value = "";
         document.getElementById("contact_us_subject").value = "";
         document.getElementById("contact_us_message").value = ""
         var ms = document.getElementById("sent_message")
         ms.style.color = "green"
         ms.innerHTML = "message on it's way"
       }

    }
{% endblock %}

