{% extends "highschool/base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}

{% block content %}<br/><br/>
<div style="margin: 20px;">
<h3><img src="{{ partner.organization_image.url }}" height="50" width="50" />
    &nbsp;{% render_model partner "organization_name" %}</h3><br/>
{% render_placeholder partner.description %}
</div>
<div style="padding:15px ;margin: 20px;background-color: lightblue;">
{% trans "Contact" %}:
{{ partner.country }}&nbsp;-&nbsp;{{ partner.city }}&nbsp;{% trans "office" %}:&nbsp;
{{ partner.office_phone }}&nbsp;{% trans "cell" %}:&nbsp;{{ partner.cell_phone }}<br/>
{% trans "Email" %}:&nbsp;{{ partner.email }}
</div>
{% endblock content %}

