{% extends "elearning/base_user.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load core_tags %}
{% load user_agents %}
{% block title %}
    <title>Contact Us</title>
{% endblock title %}

{% block add_css %}
    <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
    <!-- CSS that pushes down your navbar when the CMS toolbar is opened.-->
    <style>
        .cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{ top:40px;}
    </style>
{% endblock  %}
{% block nav_bar %}
<!-- Navigation -->
<!--   {% include 'partners/includes/home_nav_bar.html' %}-->
{% endblock %}


{% block add_links %}
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/education/contact_us_style.css' %}">
{% endblock %}

{% block body_content %}
 <section class="ftco-section" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						 <div style="display: flex;justify-content: center;color:red; margin-left:500px">
							 <strong>
								 <ul>
									 {% if return_message != '' %}
									 <li>{{return_message}}</li>
									 {% endif %}
								 </ul>
							 </strong>
						 </div>
						<div class="row no-gutters">
                            {% if request|is_mobile %}
							<div class="col-md-7">
							{% else %}
                            <div class="col-md-7" style="right:-550px">
							{% endif %}
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4" style="text-align:center">Contact Us</h3>
									<div id="form-message-success" class="mb-4">Your message was sent, thank you!</div>
									<form action="" method="POST" id="contactForm" name="contactForm" class="contactForm">
        								{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}