{% extends "courses/course_schedule/formset_base.html" %}

{% block content %}
<div class="container">
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
    <br/> The operation {{operation}} was successful!
</div>
{% endblock %}
